/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: rgb(246, 251, 255);
  margin: 0;
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


header{
  text-align: center;
}

h1{
  color: #000000;
}

h2 {
    color: #1f355e;
    border-bottom: 2px solid #ccc;
    padding-bottom: 4px;
}

h3{
  text-decoration: underline
}

.tagline{
  font-style: italic;
  color: #555
}

ul {
    line-height: 1.5;
    padding-left: 20px;
    list-style-type: square;
}